{
   "cycle_time": 300,
   "dm_registration": {
       "code": "mh84909b3bf80d45c618136887775ccc90d27d7",
       "add_code": "mimhwsaelcfp20vf7"
   },
   "exclude_accounts": [1,3,4],
   "accounts": {
       "001": {"BlueStacks": "Pie64_1", "map": 85, "afk": "史诗"},
       "002": {"BlueStacks": "Pie64_2", "map": 95, "afk": "史诗"},
       "003": {"BlueStacks": "Pie64_3", "map": 44, "afk": "稀有", "is_new": true},
       "004": {"BlueStacks": "Pie64_4", "map": 25, "afk": "稀有", "is_new": true}
   }

}
