{
   "cycle_time": 200,
   "process_limit": 8,
   "dm_registration": {
       "code": "mh84909b3bf80d45c618136887775ccc90d27d7",
       "add_code": "mimhwsaelcfp20vf7"
   },
   "exclude_accounts": [],
   "accounts": {
       "001": {"BlueStacks": "Pie64_1", "map": 14, "afk": "稀有", "dungeon": "布鲁内地牢", "is_new": false},
       "002": {"BlueStacks": "Pie64_2", "map": 14, "afk": "稀有", "dungeon": "布鲁内地牢", "is_new": false},
       "003": {"BlueStacks": "Pie64_3", "map": 14, "afk": "稀有", "dungeon": "布鲁内地牢", "is_new": false},
       "004": {"BlueStacks": "Pie64_4", "map": 14, "afk": "稀有", "dungeon": "布鲁内地牢", "is_new": false},
       "005": {"BlueStacks": "Pie64_5", "map": 14, "afk": "稀有", "dungeon": "布鲁内地牢", "is_new": false},
       "006": {"BlueStacks": "Pie64_6", "map": 14, "afk": "稀有", "dungeon": "None", "is_new": false}
   }

}
