{
   "cycle_time": 300,
   "dm_registration": {
       "code": "mh84909b3bf80d45c618136887775ccc90d27d7",
       "add_code": "mimhwsaelcfp20vf7"
   },
   "exclude_accounts": [],
   "accounts": {
       "001": {"BlueStacks": "Pie64_1", "map": 85, "is_afk": true},
       "002": {"BlueStacks": "Pie64_2", "map": 95, "is_afk": true},
       "003": {"BlueStacks": "Pie64_3", "map": 35, "is_new": true, "is_afk": false},
       "004": {"BlueStacks": "Pie64_4", "map": 25, "is_new": true, "is_afk": false}
   }

}
